.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: brown;
  height: 400px;
  }

.flex-element {
	order: 0;
	color: white;
	background-color: green;
	margin: 3px;
}

.element-1 {
	margin: auto;
	padding: 10px;
}

.element-2 {
	
}

.element-3 {
}

.element-4 {

}

.element-5 {
}

