.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: radial-gradient(#B93740,DeepSkyBlue,white 70%);
  height: 400px;
  }

.flex-element {
	order: 0;
	
	font-family: 'Pacifico', monospace, comic-sanse;
	font-size: 20px;
	text-align: center;
	background: radial-gradient(white 25%,rgba(185, 55, 64, .4));
	margin: 3px;
	border-radius: 45px;
	opacity: 0.1;
	box-shadow: 2px
}

.element-1 {
	margin: auto;
	padding: 10px;
}

.element-2 {
	
}

.element-3 {
}

.element-4 {

}

.element-5 {
}

