.grid {
  line-height: normal;
  border: 5px solid #4a3e53;
  display: grid;
  grid: auto-flow 300px / repeat(4, 1fr);
  grid-gap: 20px;

  }


.grid > .grid__item:nth-child(2) {
	display: contents;
}


.grid__item {
	display: flex;
	justify-content: center;
  	align-items: center;
  	color: #fff;
  	font-family: sans-serif;
  	font-size: 48px;
}

.grid__item:nth-child(3n+1) {
  	background-color: #96ceb4;
}

.grid__item:nth-child(3n+2) {
  	background-color: #ffeead;
}

.grid__item:nth-child(3n) {
  	background-color: #d9534f;
}